/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.0.3_react-dom@18.2.0_react@18.2.0/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/.pnpm/next@14.0.3_react-dom@18.2.0_react@18.2.0/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/page.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.page_main__GlU4n {
  margin-bottom: 100vh;
  height: 100vh;
  position: relative;
  display: flex;
  overflow: hidden;
}

.page_main__GlU4n img {
  -o-object-fit: cover;
     object-fit: cover;
}

.page_sliderContainer__9hu_f {
  position: absolute;
  top: calc(100vh - 18.75rem);
}

.page_slider__ByN4U {
  position: relative;
  white-space: nowrap;
}

.page_slider__ByN4U p {
  position: relative;
  margin: 0px;
  color: black;
  font-size: 230px;
  font-weight: 500;
  padding-right: 50px;
}

.page_slider__ByN4U p:nth-of-type(2) {
  position: absolute;
  left: 100%;
  top: 0;
}

